<h1>Editing Question</h1>

<%= form_for(@question) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :placeholder => "Question Title" %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, :placeholder => "Question Description" %>
  </p>

  <%= render 'form' %>

<% end %>

<p>
  <%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>  
  <%= link_to 'Back to Question', questions_path %>
</p>
